html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
}

/* reset  */


/* main page style */
{<style>
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');
</style>
}
header{
    border-bottom: 1px solid black;
    height: 87px;
}
a{
    text-decoration: none;
}
li{
    display: inline;
    margin-right: 66px;
    margin-top: 30px;
    color: black;
    font-family: 'Outfit', sans-serif;
}

.home-item{
    margin-left: 537px;
}
.shoe-photo{
    
    margin-left: 137.17px;
    margin-right: 926.27px;
    margin-top: 100.63px;
    border: 1px solid black;
    display: inline-block;
}

.click-button{
   width: 100.56px;
   height: 18px;
   border: none;
   margin-top: 150px;
   margin-bottom: 450px;
   font-size: 12px;
   border-radius: 4px;
   font-family: 'Outfit', sans-serif;
   background-color: white;
   display: inline;
}

h2{
    display: inline;
    width: 500.95px;
    height: 25.52px;
    margin-top: 50.23px;
    margin-left: 152px;
    margin-right: 190.05px;
    margin-bottom: 430.48px;
    font-family: 'Outfit', sans-serif;
}
.shoe-article{
    margin-top: 40px;
    margin-bottom: 311.96px;
    margin-right: 1005.29px;
    margin-left: 152px;
    height: 51.03px;
    width: 282.71px;
    font-family: 'Outfit', sans-serif;
}
.jacket-article{

    display: inline;
    font-family: 'Outfit', sans-serif;
    margin-top: 667px;
    margin-bottom: 305.96px;
    margin-right: 560.66px;
    margin-left: 596.62px;
    display: inline;
}
.mens-jacket{
    display: inline-block;
    border: 1px solid black;
    margin-left: 562.46px;
    margin-top: 100.63px;
}
h5{
    display: inline;
    font-family: 'Outfit', sans-serif;
    margin-right: 596.62px;
    margin-left: 577.443px;
    height: 25.52px;
    
}
.color-jacket{
    display: inline-block;
    border: 1px solid black;
    margin-left: 1013.17px;
    margin-right: 116.17x;
    margin-top: 100px;
}
h6{
    display: inline;
    font-family: 'Outfit', sans-serif;
    margin-top: 623px;
    margin-bottom: 375.48px;
    margin-left: 1028.68px;
    margin-right: 145.36px;

}
.color-article{
    display: inline;
    font-family: 'Outfit', sans-serif;
    margin-top: 667px;
    margin-bottom: 305.48px;
    margin-left: 1028.68px;
    margin-right: 145.36px;
}


/* contact us page style */
h3{
    font-size: 40px;
    width: 222px;
    margin-top: 150px;
    margin-left: 609px;
    margin-right: 609px;
    font-family: 'Outfit', sans-serif;
}
.details{
    font-size: 25px;
    width: 277px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 66px;
    margin-right: 988px;
    line-height: 38px;
    font-family: 'Outfit', sans-serif;
}
.contact-link{
    color: black;
    text-decoration-line: underline;
}

/* about us page style  */
h4{
    font-size: 40px;
    width: 406px;
    margin-top: 100px;
    margin-left: 517px;
    margin-right: 517px;
    font-family: 'Outfit', sans-serif;
}
.random-text{
    font-size: 25px;
    width: 775px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 175px;
    margin-right: 490px;
    line-height: 37.5px;
    font-family: 'Outfit', sans-serif;
}
address{
    font-size: 25px;
    width: 373px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 175px;
    margin-right: 892px;
    font-family: 'Outfit', sans-serif;
}